<!DOCTYPE html>
<html>
  <head>
   <%include("header")%>
  </head>
  <body>
   <h1>
    <%=greeting%> <%=name%>!</h1>
    <% if (age>=18){%>
      <p>Dohanyozhatsz</p>
      <%} else{%>
      <p>nem Dohanyozhatsz!</p>
    <%}%>
   </h1>
  </body>
</html>